@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-500: #a0aec0;
  --base-200: #e2e8f0;
  --base-300: #e2e8f0;
  --base-400: #cbd5e0;
  --main-500: #6366f1;
  --main-400: #7f9cf5;
  --main-200: #c3dafe;
  --main-100: #ebf4ff;
  --solid: #fff;
  --solid-900: #4a5568;
  --sidebar-bg: #edf2f7;
  --sidebar-color: #4a5568;
  --shadow: 0 10px 15px -3px rgba(36, 69, 101, 0.19),
    0 4px 6px -2px rgb(208, 220, 232);
  --shadow-active: 0 0 0 2px currentColor,
    0 10px 15px -3px rgba(36, 69, 101, 0.19), 0 4px 6px -2px rgb(208, 220, 232);
  --opener: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Cpath d='M3 12h18M3 6h18M3 18h18'/%3E%3C/svg%3E");
  --opener-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M19 12H5M12 19l-7-7 7-7'/%3E%3C/svg%3E");
}

.dark-mode {
  --base-500: #718096;
  --base-200: #2d3748;
  --base-300: #4a5568;
  --base-400: #4a5568;
  --main-500: #6366f1;
  --main-200: #4a5568;
  --main-100: #2d3648;
  --solid: #111827;
  --solid-900: #d1dcec;
  --sidebar-bg: #2e3647;
  --sidebar-color: #fff;
  --shadow: 0 10px 15px -3px rgb(26, 32, 45), 0 4px 6px -2px rgb(48, 58, 84);
  --shadow-active: 0 0 0 2px currentColor, 0 10px 15px -3px rgba(0, 0, 0, 0.35),
    0 4px 6px -2px rgb(76, 82, 90);
}

.red:not(.dark-mode) {
  --main-200: #fed7d7;
  --main-100: #fed7d7;
}

.red {
  --main-500: #f56565;
  --main-400: #fc8181;
}

.orange {
  --main-500: #ed8936;
  --main-400: #f6ad55;
}

.orange:not(.dark-mode) {
  --main-200: #feebc8;
  --main-100: #fffaf0;
}

.green {
  --main-500: #48bb78;
  --main-400: #68d391;
}

.green:not(.dark-mode) {
  --main-200: #c6f6d5;
  --main-100: #c6f6d5;
}

.yellow {
  --main-500: #f59e0b;
  --main-400: #fbbf24;
}

.blue {
  --main-500: #4299e1;
  --main-400: #63b3ed;
}

.blue:not(.dark-mode) {
  --main-200: #bee3f8;
  --main-100: #ebf8ff;
}

.purple {
  --main-500: #9f7aea;
  --main-400: #b794f4;
}

.purple:not(.dark-mode) {
  --main-200: #e9d8fd;
  --main-100: #faf5ff;
}

.pink {
  --main-500: #ed64a6;
  --main-400: #f687b3;
}

.pink:not(.dark-mode) {
  --main-200: #fed7e2;
  --main-100: #fff5f7;
}

/* Switch dark mode button style */
.mode {
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 30px;
  width: 58px;
  position: relative;
  height: 32px;
  flex-shrink: 0;
  margin-left: 16px;
}

.mode::before {
  width: 32px;
  height: 100%;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2.4' fill='white' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  transition: 0.3s;
  background-position: center;
}

.mode::after {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 6px;
  top: 6px;
  background-color: var(--main-500);
  content: '';
  border-radius: 50%;
  transition: transform 0.3s;
}

.dark-mode .mode {
  background-color: rgba(0, 0, 0, 0.171);
}
.dark-mode .mode::after {
  transform: translateX(-24px);
}
.dark-mode .mode::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='white' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z'/%3E%3C/svg%3E");
  transform: translateX(26px);
}
